/* CSS Document */
body {
	
	margin:0 auto;
	color:#FFF;
	}

.table-login {
	background-color:#393;
	border:1px solid #FF3;
	border-collapse:collapse;
	margin-left:40%;
	margin-top:200px;
	}

.table-login tr td {
	
